@mixin button($color: white, $background: none, $border: none) {
  display: inline-block;
  padding: 16px 21px;
  background: $background;
  border: $border;
  color: $color;
  font-size: 14px;
  text-transform: uppercase;
  transition: box-shadow $transition-time;

  &:active {
    -webkit-box-shadow: inset 10px 10px 8px -8px rgba(0,0,0,0.38);
    -moz-box-shadow: inset 10px 10px 8px -8px rgba(0,0,0,0.38);
    box-shadow: inset 10px 10px 8px -8px rgba(0,0,0,0.38);
  }

  @media screen and (min-width: 1025px){
    &:hover {
      cursor: pointer;
      -webkit-box-shadow: 0px 0px 14px 0px rgba(255,187,66,1);
      -moz-box-shadow: 0px 0px 14px 0px rgba(255,187,66,1);
      box-shadow: 0px 0px 14px 0px rgba(255,187,66,1);
    }
  }
}

@mixin form($display: block) {
  display: $display;
  justify-content: center;

  & label {
    position: relative;

    & span {
      position: absolute;
      top: 14px;
      left: 20px;
      color: $light-font-color;
      font-size: 14px;
    }
  }

  & label, button {
    width: 22%;
    margin-right: 10px;
  }

  & input, button {
    width: 22%;
    border: none;
    border-radius: $border-radius;
  }

  & input {
    width: 100%;
    padding: 15px 15px 15px 40px;
  }

  & button {
    @include button($background: $second-color);
    display: block;
  }
}

@mixin menu-btn-content() {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  height: 3px;
  background: black;
  transition: $transition-time;
}