$header-height: 90px;
$main-font-size: 13px;
$main-font-family: OpenSans, sans-serif;
$light-font-color: #868686;
$transition-time: .3s;
$border-radius: 3px;
$first-color: #709dca;
$second-color: #ffbb42;
$service-icon-size: 42px;
$pricing-card-border: 1px solid #ccd5df;
$review-photo-size: 121px;
$menu-btn-size: 50px;