@font-face {
  font-family: 'Lato-Regular';
  src: url("../assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Lato-Black';
  src: url("../assets/fonts/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../assets/fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf");
}